// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: blue;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$rose: #e91e63;
$white: #fff;
$purple: #460F9D;
$light-purple:#7F31FB;
$ice: #EFF5EE;
$beige: #E2CDB4;
$light-blue: #04AED5;

