<div class="driver">
  <div class="container p-3">

    <div class="row">
      <div class="card my-3 p-3">
        <h2 class="text-center m-5">🚕 We find a Driver 🚕 </h2>
        <h4 class="text-center m-2">Now just wait the driver's call and in some minutes your car will arrive.</h4>

        <div class="d-grid gap-2 m-3">
          <h4 class="text-center m-2">Ok, if you arrived in your destination just click above</h4>
          <%= link_to "Finish Ride", home_path(refeer:current_admin.id), class: "btn btn-danger btn-lg my-4" %>
          <h4 class="text-center">Thanks for using <strong>BuscaVó</strong></h4>
        </div>

      </div>
    </div>

  </div>
</div>
