<li class="nav-item dropdown">
  <p class="dropdown-toggle text-white p-2 mt-1" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</p>
  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
    <%= link_to "Admin", new_admin_session_path, class: "dropdown-item" %>
    <%= link_to "Driver", new_driver_session_path, class: "dropdown-item" %>
  </div>
</li>
<li class="nav-item dropdown">
  <p class="dropdown-toggle text-white p-2 mt-1" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign_up</p>
  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
    <%= link_to "Admin", new_admin_registration_path, class: "dropdown-item" %>
    <%= link_to "Driver", new_driver_registration_path, class: "dropdown-item" %>
  </div>
</li>
