

<div class="landing-container">
  <section class="page-header text-center banner-section" id="banner-section" style="background-image: url(https://res.cloudinary.com/dwqcsq3oo/image/upload/v1670005117/image_mzof86.png">
    <div class="container">
      <div class="banner-p">
        <h1 class="display-1" data-aos="zoom-in-up">Welcome to BuscaVó</h1>
        <h3 clas="" data-aos="zoom-in-up">A simple, pratical and safe way to get your grandma to places!</h3>
      </div>
    </div>
  </section>
  <div class="container" id="raise">
    <main class="main landing-content">
      <section class="section text-center">
        <div class="container mb-2">
          <div class="row justify-content-center">
            <div class="col-12 col-md-10">
              <h2 class="title mb-4" data-aos="fade-up">About BuscaVó...</h2>
              <p data-aos="fade-up">Your bingo starts at 8. Happy hour on the patio only lasts for an hour. And your family would love to see your face again, ASAP. We'll match you with a driver in seconds</p>
              <p data-aos="fade-up">We'll always treat you with respect and look out for your safety. We do this by maintaining high standards, which start before your very first ride. Our proactive safety features are always on. And anytime, night or day, we offer real help from real humans.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section text-center">
        <div class="container">
          <div class="row justify-content-center">
           <div class="col-12 col-md-10">
              <h2 class="title mb-4" data-aos="fade-up">Your options are...</h2>
                <div class="d-flex justify-content-center">
                  <div>
                    <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Driver</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Admin</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">User</button>
                      </li>
                      <li class="nav-item" role="presentation">
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                    <p>Driving with BuscaVó offers a flexible earning opportunity.</p>
                    <p>It's a great alternative to full-time driver jobs, part-time driver jobs, or other part-time gigs, temp jobs, or seasonal employment. Or maybe you're already a rideshare driver and want to supplement your income by becoming a driver using the our platform. Easy to use and reliable, the app was built for drivers, with drivers. It shows you everything you need to know to become a driver.</p>

                  </div>
                  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                    <p>BuscaVó Adim, designs transportation solutions and programs that drive your grandma forward, reward your family, and upgrade your experience.</p>
                    <p>Ground transportation isn't one-size-fits-all. Our teams work with families across industries to deliver transportation solutions tailored to you.</p>
                  </div>
                  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                    <p>Request a ride, hop in, and relax. Tap and let your driver take you where you want to go.</p>
              </div>
            </div>
              </div>
      <section class="section text-center">
          <div class="container">
            <h2 class="title mb-4" data-aos="fade-up">Happy Users...</h2>
            <div class="card-columns text-white">
              <div class="card bg-dark" data-aos="fade-right">
                <img class="card-img" src="https://images.unsplash.com/photo-1640074413489-0b6c43934c99?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Card image">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                  <h4 class="card-title">Alicia</h4>
                  <p class="card-text mt-0" id="text-l">Happy she could see her granddaughter!</p>
                </div>
              </div>
              <div class="card bg-dark" data-aos="fade-right">
                <img class="card-img" src="https://images.unsplash.com/photo-1577368287217-16ff9373a733?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                  <h4 class="card-title">Sophia, after bingo</h4>
                </div>
              </div>
              <div class="card bg-dark" data-aos="fade-right">
                <img class="card-img" src="https://images.unsplash.com/photo-1447005497901-b3e9ee359928?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="Card image">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                  <h4 class="card-title">Iza, on Taco Tuesday</h4>
                </div>
              </div>
              <div class="card bg-dark" data-aos="fade-left">
                <img class="card-img" src="https://images.unsplash.com/photo-1593100126453-19b562a800c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80" alt="Card image">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                  <h4 class="card-title">Irene and Gabriela</h4>
                  <p class="card-text mt-0" id="text-l">A long wanted hug! </p>
                </div>
              </div>
              <div class="card bg-dark" data-aos="fade-left">
                <img class="card-img" src="https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">
                  <h4 class="card-title">Drivers on demand</h4>
                </div>
              </div>

              </div>
            </div>
          </div>
        </section>
        <section class="section pb-5">

        </section>
        <section>
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
        <h3 class="text-center">Share your BuscaVó Experience!</h3>
        <br>
        <form role="form" id="contact-form" method="post" autocomplete="off">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group input-group-dynamic mb-4">

                  <input type="text" class="form-control" placeholder="First Name" >
                </div>
              </div>
              <div class="col-md-6 ps-2">
                <div class="input-group input-group-dynamic">

                  <input type="text" class="form-control" placeholder="Last Name" >
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="input-group input-group-dynamic">

                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="input-group mb-4 input-group-static">

              <textarea name="message" class="form-control" id="message" rows="4" placeholder="Message"></textarea>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-check form-switch mb-4 d-flex align-items-center">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
                  <label class="form-check-label ms-3 mb-0" for="flexSwitchCheckDefault">I agree to the <a href="javascript:;" class="text-dark"><u>Terms and Conditions</u></a>.</label>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-outline-dark w-100">Send Message</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </section>
      </section>
  </main>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</div>
<script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Google Maps Plugin  -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
