.navbar-lewagon {
  justify-content: space-between;
  background-color:  #7F31FB;
  line-height: 24px;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom-width: 0;
  border-bottom-style: solid;
  border-bottom-color: #E2E2E2;
  position: relative;
  z-index: 2002;
  height: 64px;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  margin-bottom: 7px;
  margin-left: 2px;
}
