.sign-up {
  padding: 51px 20px 20px 20px;
  background-color: $white;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.362);
  border-radius: 4px;
  max-width: 400px;
  margin: 51px auto;
  line-height: 20px;
}

#padd1 {
  padding-bottom: 6px;
}
