<div class="driver">
  <div class="container">

    <div class="row">
    
      <div class="card mt-2 p-3">
        <h1 class="text-center">Thanks for using <strong>BuscaVó</strong></h1>
        <h2 class="text-center m-3">🚕 Click in the <strong>button below</strong> to call a new ride 🚕 </h2>
      </div>

      <div class="driver ridesList"
        data-controller="drivers"
        data-drivers-id-value="<%= @notify.ride_id %>">
        <div class="rides py-2 mb-2" data-drivers-target="box">
          <% Notify.all.each do |notify| %>
            <%= render 'rides/notify', notify: notify %>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>
