
<h1>show de drivers  <br><br> </h1>

<div data-controller="rides">
  <% @rides.each do |ride| %>
    <div data-rides-id-value="<%= ride.id %>">

      <div class="rides py-4" data-rides-target="responseList">
        <% if @ride.present? %>
          <% @ride.notifies.each do |notify| %>
            <%= render "rides/notify", notify: notify %>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>

<br><br><br><br><br><br>

<h2>
1. Recebe um alerta de Pedido de Carro <br>
  - Mensagem de aceite de corrida (flash message / popup / bootstrap modal) <br><br>
2. Opção negar (só cancela e retorna para página que estava) <br><br>
3. Opção Aceitar (encaminha para nova view e pede para ligar para vó) <br><br>
4. Fazer uma Edit de Rides através do Driver <br>
  - Iniciar corrida (colocar destino da vó e iniciar corrida) <br>
  - Encaminha motorista para Waze <br>
</h2>
