<div class='card my-3' style='width: 18rem;' id='ride-<%= notify.id %>'>
  <div class='card-body'>
    <h5 class='card-title'><strong><%= notify.user.phone_number %></strong></h5>
    <h6 class='card-subtitle mb-2 text-muted'><%= notify.created_at.strftime('%a %b %e at %l:%M %p') %></h6>
    <p class='card-text'><%= notify.content %></p>
    <a href='#' class='card-link'>Card link</a>
    <a href='#' class='card-link'>Another link</a>
  </div>
</div>
